# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

# Constraints (input to pip-compile)
# Note: constraints on requirements for flowpyter-task library itself should live in steup.py.
# This file is for specifying additional constraints on the environment to be installed in the docker image.

# Match flowkit version in the base image
-c https://raw.githubusercontent.com/Flowminder/FlowKit/${FLOWKIT_VERSION}/flowetl/requirements.txt
